*                 text=auto

# Source code
.husky/*          text eol=lf
*.html            text diff=html
*.css             text diff=css
*.sass            text
*.scss            text diff=css
*.less            text
*.js              text
*.mjs             text
*.cjs             text
*.jsx             text
*.ts              text
*.tsx             text
*.json            text
*.xml             text

# Documentation
*.md              text diff=markdown
*.txt             text
LICENSE           text
COPYRIGHT         text
CHANGELOG         text
CONTRIBUTING      text

# Configs
.editorconfig     text
.env              text
package.json      text eol=lf
package-lock.json text eol=lf -diff
pnpm-lock.yaml    text eol=lf -diff
.prettierrc       text
yarn.lock         text -diff
*.yaml            text
*.yml             text

# Ignore files
*.*ignore         text
